<a href="https://colab.research.google.com/github/410600836/introduction-to-computer/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("123")

123

In [8]:
i = range(5)
#從0開始的五個數

In [9]:
print(type(i))

<class 'range'>

In [10]:
print(i)

range(0, 5)

In [11]:
print(list(i))

[0, 1, 2, 3, 4]

In [12]:
a = range(3, 8)
print(list(a))
#3到8的數，包含3，不含8
#不可以是小數
#list

In [ ]:
b = range(-2, 4)
print(list(b))

In [18]:
c = range(3, 8, 1)
print(list(c))

[3, 4, 5, 6, 7]

In [20]:
d = range(3, 8, 2)
print(list(d))

[3, 5, 7]

In [19]:
e = range(8, 3, -1)
print(list(e))

[8, 7, 6, 5, 4]

In [23]:
f = range(9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
g = range(1, 10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
h = range(1, 10, 2)
print(list(h))

[1, 3, 5, 7, 9]

In [25]:
i = range(10, 1, -2)
print(list(i))

[10, 8, 6, 4, 2]

In [28]:
for n in range(3):
  print(n)for n in range(3):
  print(n)

0
1
2

In [35]:
for n in range(10):
  print(n, end=",")

0,1,2,3,4,5,6,7,8,9,

In [37]:
for n in range(0, 10, 2):
  print(n, end=",")

0,2,4,6,8,

In [43]:
x = int(input("請輸入一個正整數:"))
y = x + 1
for n in range(1, y, 1):
  print(n, end=" ")

請輸入一個正整數:5
1 2 3 4 5

In [45]:
test = int(input("請輸入一個正整數:"))
for m in range(1, test+1):
  print(m, end=" ")

請輸入一個正整數:8
1 2 3 4 5 6 7 8

In [47]:
sum = 0
for n in range(3):
  sum = sum + n
print(sum)

3

In [ ]:
sum = 0
for n in range(10, 1, -2):
  sum = sum + n
print(sum)

In [52]:
sum = 0
test2 = int(input("請輸入一個正整數:"))
for n in range(1,test2+1):
  sum = sum + n
print("1到", test2, "的整數和為", sum)

請輸入一個正整數:50
1到 50 的整數和為 1275

In [53]:
sum = 0
test3 = int(input("請輸入一個正整數:"))
for n in range(1,test3+1):
  sum = sum + n
  print("1到", n, "的整數和為:", sum)

請輸入一個正整數:10
1到 1 的整數和為: 1
1到 2 的整數和為: 3
1到 3 的整數和為: 6
1到 4 的整數和為: 10
1到 5 的整數和為: 15
1到 6 的整數和為: 21
1到 7 的整數和為: 28
1到 8 的整數和為: 36
1到 9 的整數和為: 45
1到 10 的整數和為: 55