<a href="https://colab.research.google.com/github/410600836/introduction-to-computer/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("0606test")

0606test

In [2]:
i = 0
result = 0
while i <= 50:
  if i % 2 != 0:
    result += i
  i+=1
print("0~50的奇數和結果是%d" % result)
# != :不等於

0~50的奇數和結果是625

In [4]:
i = 0
result = 0
while i <= 50:
  if i % 2 == 0:
    result += i
  i+=1
print("0~50的偶數和結果是%d" % result)

0~50的偶數和結果是650

In [5]:
n = int(input("請輸入正整數:"))
for i in range(1,n+1):
  for j in range(i,n+1):
    print("*", end="")
  print()

請輸入正整數:3
***
**
*

In [6]:
sum = 0
for i in range(0, 101):
  if (i%3==0 or i%7==0):
    sum += i
print("數值 1 ~ 100 中，所有是 3 或 7 倍數的數之總和=",sum)

數值 1 ~ 100 中，所有是 3 或 7 倍數的數之總和= 2208

In [8]:
p = 1
counter = 0
n = int(input("請輸入正整數:"))
print(n,"的因數有",end=" ")
while (p<=n):
  if (n%p==0):
    print(p,end=" ")
    counter+=1
  p+=1
print()
if (counter==2):
  print(n,"是質數")
else :
  print(n, "不是質數")

請輸入正整數:10
10 的因數有 1 2 5 10
10 不是質數

In [10]:
list1 = [1,2,3,4,5]

In [11]:
list1

[1, 2, 3, 4, 5]

In [12]:
list2 = ["香蕉","蘋果","橘子"]

In [13]:
list2

['香蕉', '蘋果', '橘子']

In [17]:
list3 = [1,"香蕉",True]

In [18]:
list3

[1, '香蕉', True]

In [19]:
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
print(list1[0])

In [ ]:
print(list1[1])

In [20]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [22]:
list4 = ["香蕉","蘋果","橘子"]

In [23]:
print(list4[1])

蘋果

In [24]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [25]:
print(list4[3])

IndexError: ignored

In [26]:
print(list4[-1])

橘子

In [27]:
print(list4[-2])

蘋果

In [28]:
print(list4[-3])

香蕉

In [29]:
print(list4[-4])

IndexError: ignored

In [43]:
list5 = [["tom","1234"]],["mary","abcd"],["david","5678"]

In [44]:
print(list5[1])

['mary', 'abcd']

In [45]:
print(list5[0])

[['tom', '1234']]

In [46]:
print(list5[1][1])

abcd

In [47]:
print(list5[0])

[['tom', '1234']]

In [48]:
print(list5[0][0])

['tom', '1234']

In [49]:
print(list5[0][0])

['tom', '1234']

In [ ]:
print(list5[1][0])

In [36]:
print(list5[0][1])

1234

In [50]:
list60 = ["國文成績: 85分","數學成績: 79分","英文成績: 93分"]
print(list60[0])
print(list60[1])
print(list60[2])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [51]:
score = [85, 79, 93]
print("國文成績: %d分" % score[0])
print("數學成績: %d分" % score[1])
print("英文成績: %d分" % score[2])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [52]:
list6 = [1,2,3,4,5]

In [54]:
print(list6[0])

1

In [ ]:
list6[0] = 9
#將list6[0]取代為9

In [55]:
print(list6[0])

1

In [56]:
print(list6)

[1, 2, 3, 4, 5]

In [59]:
list7 = ["香蕉","蘋果","橘子"]

In [60]:
for s in list7:
  print(s,end= ",")

香蕉,蘋果,橘子,

In [62]:
list8 = [123, "apple", True]
for n in list8:
  print(n,end="\n")

123
apple
True

In [64]:
items = [123, "apple", True]
for item in items:
  print(item)

123
apple
True

In [67]:
scores = [85, 79, 93]

In [68]:
print(len(scores))

3

In [69]:
scores = [85, 79, 93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [76]:
scores = ["國文成績: 85分","數學成績: 79分","英文成績: 93分"]
for a in scores:
  print(a, end="\n")

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [89]:
scores = [85, 79, 93]
subject = ["國文","數學","英文"]
for a in range(0, 3):
  print(subject[a],"成績: ", scores[a], "分")

國文 成績:  85 分
數學 成績:  79 分
英文 成績:  93 分

In [83]:
name = ["Tom","Mary","Tony"]
for i in range(0,3):
  print("編號: ", i+1, "姓名: ", name[i])

編號:  1 姓名:  Tom
編號:  2 姓名:  Mary
編號:  3 姓名:  Tony